@charset "utf-8";
        body{
            color:#333;
            font-size: 90%;
            test-align: left;
            background-image: url(img/pattern.jpg); 
            background-repeat: repeat;
            width: 80%;
            margin: 0 auto;
        }
        a{
            color: #333;
            text-decoration: none;
        }
        a:hover{
            color: #F30;  
        }
       
        .mainheader img{
            width: 50%;
            hieght: auto;
            margin: 2% 0;
        }
        
        .mainheader nav{
            background-color: #FFF;
            height: 37px;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px
        }
        
        .mainheader nav ul{
            list-style: none;
            margin: 0 auto;
            
        } 
        
        .mainheader nav ul li{
            float: left;
        }
        
        .mainheader nav a:link{
            color: #000;
            display: inline-block;
            padding: 10px 25px;
        }
        
        .mainheader nav a:hover{
            color: #FFF;
            
            background-color: #333;
        }
        
        .mainContent{
            width: 64%;
            background-color: #FFF;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            float:left;
            margin-top: 2%;
            margin-right: 2%;
            padding: 2%;
        }
        
        .sidebar{
            width: 26%;
            background-color: #FFF;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            float:left;
            margin-top: 2%;
            padding: 2%;
        }
        
        .mainFooter{
            width: 100%;
            background-color: #FFF;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            float:left;
            text-align: center;
            margin-top: 2%;
        }
        
        @media only screen and (Min-width:150px) and (max-width:600px)
            {
            .body{
                font-size: 95%;
            }
            
            .mainheader img{
                width: 100%;
            }
            
            .mainheader nav{
                height: 148px;
            }
            
            .mainheader nav ul{
                padding-left: 0;
            }
            
            .mainheader nav ul li{
                float: left;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            
            
            .mainheader nav a:link{
                display: block; 
            }
            
            .mainContent{
                width: 96%;
            }
            }
